__pycache__/
*.py[cod]
*.pyo

.env
*.env

venv/
ENV/
env/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

*.log

coverage/
htmlcov/
*.cover
*.py,cover

*.tmp
*.bak

instance/
*.db

node_modules/

.git/
