{% extends 'front/front_base.html' %}

{% block title %}
    Class Management System
{% endblock %}

{% block head %}
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='front/css/front_dashboard.css') }}"
    />
{% endblock %}

{% block main_content %}

<div class="header">{{ today.strftime('%A, %B %d, %Y') }}</div>
 
<div class="info-box">
  <p><b>Timetable</b><br>
  During the semester, you can view your allocated class times and check for any timetable changes. Use this section to stay informed about when and where your classes take place.</p>
 
  <p><b>Preference</b><br>
  During the preference entry period, use this section to submit your course preferences. If any courses are missing or unavailable, please refer to the Student FAQs or contact support.</p>
 
  <p><b>Message</b><br>
  You can use the messaging feature to communicate with classmates or instructors. Stay connected and up to date by checking this section regularly.</p>

</div>

      <div class="section-title">Action Required</div>
      <p>No actions required</p>

    </div>

    <div class="events-panel">
      <h3>Upcoming events</h3>
      <div class="event">
        <time>28 Apr Mon<br />12:00 am - 01:00 am</time>
        <div class="event-title">CITS3301 - Lecture-01</div>
      </div>
      <div class="event">
        <time>28 Apr Mon<br />06:00 pm - 08:00 pm</time>
        <div class="event-title">PHIL4100 - Wshp-01</div>
      </div>
      <div class="event">
        <time>28 Apr Mon<br />07:00 pm - 09:00 pm</time>
        <div class="event-title">CITS5508 - LecTut-01</div>
      </div>
      <div class="event">
        <time>28 Apr Mon<br />08:00 pm - 10:00 pm</time>
        <div class="event-title">CITS3301 - Workshop-01</div>
      </div>
      <div class="event">
        <time>30 Apr Wed<br />01:00 am - 03:00 am</time>
        <div class="event-title">CITS5505 - Lecture-01</div>
      </div>
      <div class="event">
        <time>1 May Thu<br />06:00 pm - 08:00 pm</time>
        <div class="event-title">CITS5505 - LecTut-01</div>
      </div>
      <div class="event">
        <time>5 May Mon<br />12:00 am - 01:00 am</time>
        <div class="event-title">CITS3301 - Lecture-01</div>
      </div>
      <div class="event">
        <time>5 May Mon<br />06:00 pm - 08:00 pm</time>
        <div class="event-title">PHIL4100 - Wshp-01</div>
      </div>
      <a href="#" class="bottom-link">View All →</a>
{% endblock %}