{% extends 'front/front_signbase.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    Class Management System
{% endblock %}

{% block head %}
    <script src="{{ static("front/js/front_signin.js") }}"></script>
{% endblock %}

{% block h2_block %}
    Login in Class Management System
{% endblock %}

{% block signbox %}
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="remember" value="1" checked>Remember Me 
        </label>
    </div>
    <div class="form-group">
        <button class="btn btn-warning btn-block" id="submit-btn">Login</button>
    </div>
    <div class="form-group">
        <a href="{{ url_for("front.signup") }}" class="signup-link">Register</a>
        <a href="#" class="resetpwd-link" style="float:right;">Reset Password</a>
    </div>
{% endblock %}