{% extends 'cms/cms_base.html' %}  {# Inherit from the base CMS layout #}

{% block title %} 
  Profile  {# Sets the <title> of the page (used in browser tab) #}
{% endblock %} 

{% block page_title %} 
  {{ self.title() }}  {# Uses the same title for the page heading #}
{% endblock %} 


{% block main_content %}
{% set user = g.cms_user %}  {# Access the current logged-in CMS user from Flask global 'g' #}

{# Display basic user profile info in a table #}
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Username:</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Join Date:</td>
      <td>{{ user.join_time }}</td>  {# This is likely a datetime object, formatted by Jinja #}
    </tr>
  </tbody>
</table>
{% endblock %}
